<ion-header [translucent]="true">
  <ion-toolbar mode="ios" color="primary">
    <ion-title>
      Jain Portal
    </ion-title>
    <ion-button slot="end" (click)="openAdminPanel()">
      <ion-icon class="adminButton" name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="contentHeaderGrid">
    <ion-row>
      <ion-col>
        <div class="contentHeaderImageContainer">
          <ion-img src="assets/images/logo_bg.png" alt="headerImage" class="contentHeaderImage"></ion-img>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="contentHeaderGrid">
    <ion-row>
      <ion-col>
        <!-- <h2>वेदीप्रतिष्ठा महोत्सव २०२४,परासिया</h2> -->
        <div class="contentHeaderImageContainer">
          <ion-img src="assets/images/bg_2.jpg" alt="Taaran Taran Chatyaalaya" class="contentHeaderImage"></ion-img>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="formContentContainer">
    <form [formGroup]="userForm">
      <ion-grid>
        <ion-row>
          <ion-col [size]="getDeviceSize()">
          </ion-col>
          <ion-col [size]="getDeviceSize() === 3 ? 6 : 12" class="formContentContainerColumn">
            <p class="formContentSubDetails" style="margin: 0;">
              श्री तारण तरण समाज,परासिया द्वारा आयोजित भव्य वेदीप्रतिष्ठा महोत्सव में आप सम्मिलित होना चाहते हैं,तो कृपया इस
              फॉर्म
              को भरकर आज ही अपना स्थान सुरक्षित करे। ताकी हम इस कार्य को उत्कृष्ट रूप से सुव्यवस्थित कर सकें।
            </p>
            <div class="formContainer">
              <ion-grid>
                <ion-row>
                  <ion-col [size]="12">
                    <ion-item class="formInput">
                      <ion-input formControlName="userName" label="पूरा नाम" labelPlacement="floating" placeholder="आपका नाम"></ion-input>
                    </ion-item>
                    <ion-label *ngIf="userForm.controls.userName.touched && userForm.controls.userName.invalid" color="danger">कृपया अपना नाम दर्ज करें</ion-label>
                  </ion-col>
                  <ion-col [size]="12">
                    <ion-item class="formInput">
                      <ion-input formControlName="address" label="आपका पता शहर के नाम के साथ" labelPlacement="floating"
                        placeholder="आपका पता"></ion-input>
                      </ion-item>
                      <ion-label *ngIf="userForm.controls.address.touched && userForm.controls.address.invalid" color="danger">कृपया अपना पता दर्ज करें</ion-label>
                  </ion-col>
                  <ion-col [size]="12">
                    <ion-item class="formInput">
                      <ion-input formControlName="age" type="number" label="आपकी आयु" labelPlacement="floating" placeholder="आयु"></ion-input>
                    </ion-item>
                    <ion-label *ngIf="userForm.controls.age.touched && userForm.controls.age.invalid" color="danger">कृपया अपनी उम्र दर्ज करें</ion-label>
                  </ion-col>
                  <ion-col [size]="12">
                    <ion-item class="formInput">
                      <ion-select formControlName="foodPreference" label="क्या आप शोध (सोला) का भोजन ग्रहण करते हैं ?" label-placement="floating"
                        interface="popover">
                        <ion-select-option aria-label="true" value="true">हाँ</ion-select-option>
                        <ion-select-option aria-label="false" value="false">नहीं</ion-select-option>
                      </ion-select>
                    </ion-item>
                    <ion-label *ngIf="userForm.controls.foodPreference.touched && userForm.controls.foodPreference.invalid" color="danger">कृपया भोजन की प्राथमिकता चुनें</ion-label>
                  </ion-col>
                  <ion-col [size]="12">
                    <ion-item class="formInput">
                      <ion-select formControlName="stayPreference" label="क्या आपको सामाजिक आवासीय व्यवस्था चाहिए ?" label-placement="floating"
                        interface="popover">
                        <ion-select-option aria-label="true" value="true">हाँ</ion-select-option>
                        <ion-select-option aria-label="false" value="false">नहीं</ion-select-option>
                      </ion-select>
                    </ion-item>
                    <ion-label *ngIf="userForm.controls.stayPreference.touched && userForm.controls.stayPreference.invalid" color="danger">कृपया ठहरने की प्राथमिकता चुनें</ion-label>
                  </ion-col>
                  <ion-col [size]="12">
                    <ion-item class="formInput">
                      <ion-input formControlName="mobileNumber" type="number" label="आपका व्हाट्सएप्प नंबर" labelPlacement="floating"
                        placeholder="आपका व्हाट्सएप्प नंबर लिखिए "></ion-input>
                    </ion-item>
                    <ion-label *ngIf="userForm.controls.mobileNumber.touched && userForm.controls.mobileNumber.invalid" color="danger">कृपया अपना सही व्हाट्सएप नंबर दर्ज करें</ion-label>
                  </ion-col>
                  <ion-col [size]="12" class="submitButtonColumn">
                    <ion-button (click)="submitForm()" [disabled]="userForm.invalid" color="secondary" shape="round">जानकारी जमा करे </ion-button>
                    <ion-button (click)="clearForm()" [disabled]="!userForm.touched" color="secondary" fill="outline" shape="round">फॉर्म क्लियर करे </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ion-col>
          <ion-col [size]="getDeviceSize()"></ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
  <div class="footer">
    <h3>अखिल भारतीय तारण तरण जैन समाज परासिया 2024</h3>
    <h4>अधिक जानकारी या कोई सुचना सुझाव के लिए संपर्क करे!</h4>
    <h4>नितिन जैन: <b>+91-9039250241</b></h4>
    <br>
    <div class="ion-no-margin footerText">
      Project Developed by: <b>Yash Jain</b>
      <br>
      <b>+91-7757823799</b>
      <br>
      <b>yashjain027@gmail.com</b>
    </div>
  </div>
</ion-content>