ion-content {
    --background: linear-gradient(180deg, #F9E0E6, #ECB8C4) !important;

    .headingSection {
        .usersListText {
            margin: 0;
            text-align: center;
        }
    }

    .usersListContainer {
        position: relative;
        
        .noUsersList {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .usersListAccordion {
        margin: 0 !important;
    }

    .accordionData {
        position: relative;
        .deleteUserIcon {
            position: absolute;
            right: 1rem;
            transform: scale(1.2);
            color: #b10c0c !important;
            z-index: 2
        }
    }

    .paddedRow {
        padding-left: 0.4rem;
    }

    .trueValue {
        color: #0ad40a;
    }

    .falseValue {
        color: red;
    }

    .userCountHeaderContainer {
        text-align: center;
    }
}

ion-footer {
    ion-toolbar {
        --background: linear-gradient(180deg, #ECB8C4, #d2a4af) !important;
        ion-searchbar {
            padding-top: 15px;
        }
        .searchBarSearchBtn {
            color: #1d1c1c;
            margin-top: 1rem;
        }
    }
}